{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="col d-flex flex-column justify-content-center align-items-center">            
            <h1 class="">OOPS!</h1>
            <h2 class="">404 - Page Not Found</h2> 
            <a href="{% url 'home' %}" class="btn btn-secondary">Go to homepage</a>            
        </div>        
    </div>
{% endblock %}