{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<!-- User WishList Page -->
    <div class="overlay"></div>
	<div class="container-fluid large-container">
		<div class="row">
            <div class="col text-center mt-3">
                <h1 class="font-weight-bold text-uppercase">Your Wish List</h1>
                <hr class="w-50 mb-5">
            </div>
        </div>
	<!-- User WishList Items -->
    
	{% for product in wishlist.products.all %}
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="products-detail-container my-5">
					<h3 class="mb-4 pt-md-5 text-black font-weight-bold"> {{ product.name }}</h3>
					{% if product.category %}
					<p class="small">
                        <a class="text-muted text-black font-weight-bold"
                        href="{% url 'wines' %}?category={{ product.category.name }}">
                        <i class="fas fa-hashtag"></i> {{ product.category.friendly_name }}
                        <i class="fas fa-hashtag"></i> {{ product.grape }}
                    </a>
                    <br>
                    <a class="" href="{% url 'wine_detail' product.id %}">
						<span class="text-uppercase font-weight-bold">Wine Details</span>
					</a>
                    <br>
                    <a class="" href="{% url 'remove_from_wishlist' product.id %}">
						<span class="text-uppercase font-weight-bold">Remove from wishlist</span>
					</a>
					</p>
					{% endif %}
				</div>
			</div>
		</div>		
	{% empty %}
		<div class="row justify-content-center">
			<!-- Wishlist Page "if" empty -->
			<div class="text-center mt-3">
				<h3 class="font-weight-bold text-uppercase">You have no items in your wishlist</h3>
				<a class="btn btn-light btn-lg mt-5" href="{% url 'wines' %}">
					<span class="icon">
						<i class="text-info fas fa-chevron-left"></i>
					</span>
					<span class="text-uppercase font-weight-bold text-info">Keep Shopping</span>
				</a>
			</div>
		</div>
	{% endfor %}	
	</div>
{% endblock %}